
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');


:root {
    --c-brand: #d60303;
    --c-hover: #ff0d18;
    --c-light: #fbf7f4;
    --f-tittle: 'Poppins', sans-serif;
    --f-body: 'Montserrat', sans-serif;
    --f-menu: 'Montserrat', sans-serif;
    --transition: all .4s cubic-bezier(.165, .84, .44, 1);
    --shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);
}



body{
    background: var(--c-light);

}

 
/*logo*/

.logo-barra {
    padding-top: 5rem;
    margin-top: 5rem;
}

/*navbar*/

.menu {
    padding: 0;
    margin: 0;
    background-color: var(--c-brand);
}

.navbar-nav {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: var(--f-menu);
    font-weight: 400;
}

.navbar-toggler {
    font-size: 0.9rem;
    margin-bottom: 0rem;
    margin-top: 0.5rem;
    color: transparent;
}



.tittle {
    font-family: var(--f-tittle);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 3rem;
}

.tittle {
    border-bottom: solid 1px var(--c-brand);
    margin-bottom:3rem;
}

.aboutus {
    text-align: justify;
    

}

.readmore-btn {
    font-size: 0.8rem;
}

.nav-orange{
    background: var(--c-brand);
}

@media screen and (min-width: 992px) {

    .navbar {
        padding: 0;
        height: 80px;
    }
    .navbar .navbar-nav .nav-link {
        height: 80px;
    }
    
}

@media screen and (max-width: 992px) {

    .navbar-nav {
        padding-bottom: 1rem;
    }
    
}

.navbar-nav ul {
    display: flex;
    align-items: center;
}




.navbar .nav-link {
    color: var(--c-light);
    letter-spacing: 1px;
    font-family: var(--f-menu);
    font-weight: 400;
    font-size: 1rem;
    width: 10rem;
}

.navbar .navbar-nav .nav-item {
    position: relative;
    padding: 0;
}

.navbar .navbar-nav .nav-item::after {
    position: absolute;
    content: '';
    background-color: var(--c-brand);
    width: 0;
    height: 4px;
    margin: 0 auto;
    bottom: 0px;
    left: 0;
    right: 0;
    transition: all .5s;
}

.navbar .navbar-nav .nav-item:hover::after {
    width: 100%;
}

.navbar .navbar-nav .nav-item:hover {
    background: #fbf7f4;
    transition: all ease-in 0.5s;
}


.navbar ul li a {
    display: flex;
    justify-content: center;
}


.navbar .nav-item .nav-link:hover { 
    color: var(--c-brand);
    font-weight: 400;
    font-family: var(--f-menu);
}

.navbar a .nav-item:hover { 
    background-color: #c43300;
}


.navbar .nav-item li {
    height: 6rem;
    }

/*portada*/

.carousel-item {
   height: 40rem; 
   min-height: 300px;
}

.carousel-caption {
    bottom: 220px;
    z-index: 2;
}


.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 1.2rem;
}

.portada {
    min-height: 15rem;


}

.carousel-item {
    position: relative;
    background: #000;
    position: relative;
    
}

.carousel-caption h5, .slogan {
    font-size: 3rem;
    color: #fff;
    left: 0;
    
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.4;
}
.logo-3 img {
    width: 50px;
    height: 50px;
}

.nav-tittle a {
    font-size: 10rem;
}

.nav-orange {
    background-color: var(--c-brand);
    padding: 0;
    margin: 0;
}

.portada{
    position: relative;
    z-index: 0;
    
}

.main-logo {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 1 !important; 

    

}
.main-logo img {
    width: 25rem;
}

@media (max-width:500px) {
    .main-logo img {
        max-width: 15rem;
        max-height: 15rem;
    }
}

@media screen and (min-width: 992px) {
    .main-logo img {
        padding-right: 50px;
    }
}

/*nosotros*/

.tittle {
    color: var(--c-brand);
}

.collapse-button {
    width: 6rem;
    background-color: var(--c-light);
    color: var(--c-brand);
    border: none;
    border: 2px solid var(--c-brand);

    
}

.collapse-button:hover {
   background-color: var(--c-brand);
    
}

.hidden-text {
    background: transparent;
    box-shadow: none;
    padding-top: 2rem;
}
/* secondary carrousel*/


.card {
    border-radius: 0;
    border-style: none;
    margin: 2rem;
}

.card:focus, .card:hover {
    -webkit-box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2);
     box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2);
     transition: all .3s ease-in-out;
}

.proyect:focus, .proyect:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.01);
    transition: all .3s ease-in-out;
}

.card-img-top {
    height: 45vh;
    width: 100%;
    object-fit: cover;
    border-radius: 0;
}

.owl-prev {
    left: -50px;
}

.owl-next {
    right: -10px;
}

.owl-prev, .owl-next {
    position: absolute;
    top:  200px;
}

.owl-prev span, .owl-next span {
    font-size: 4rem;  
    padding-left: -80px;
    padding-right: -80px;
    
}

.owl-theme, .owl-nav [class*="owl-"]:hover {
    background: transparent;
}


/*gallery*/

.proyectos {
    width: 100%;
    overflow: hidden;
}

.gallery .container,
.gallery .img-container {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.gallery-item img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    
}

.gallery .thumb {
    position: relative;
}

.gallery-item .hover-effect .hover-content {
    position: absolute;
    text-align: left;
    width: 100%;
    bottom: 0;
    left: 0;
}

.img-container{
    overflow: hidden;
}
.img-container:hover{
    -webkit-box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2);
     box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2);
     transition: all .3s ease-in-out;
}

.gallery-item img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.05);
    transition: all .3s ease-in-out;
    
}

.no-link {
    text-decoration: none;
    color: black
}

.no-link:hover {
    color: #3f3f3f;
}

.card-tittle {
    font-family: var(--f-menu);
    font-size: 1.2rem;
}

.text-description {
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: var(--f-body);
    font-size: 0.7rem;
}

/*contacto*/

#contacto {
    background-image: url(../img/background-contact.jpg);
    background-position:center;
    background-attachment: fixed;
    background-size: cover
}

.form-control {
    background-color: transparent;
    border-radius: 0;
    margin: 5px 0;
    padding: 5px 0;
    border: none;
    border-bottom: 1px solid var(--c-light);
    outline: none;
    padding-left: 1rem;
    color: var(--c-light);
}

.form-control::placeholder {
 color: var(--c-light)  !important;
 }

 input:focus::-webkit-input-placeholder {
    color: #000 !important;
    outline: none;

 }

textarea:focus::placeholder { 
    color: #000 !important;
    border: none;
}

.enviar-button button {
    width: 6rem;
    background-color: var(--c-light);
    color: var(--c-brand);
    border: none;
    border: 2px solid var(--c-brand);
}

.enviar-button button:hover {
   color: var(--c-light);
   box-shadow: var(--shadow);
}

.valid-feedback {
    color: var(--c-light);
}

.invalid-feedback {
    color: var(--c-light);
    font-size: 0.7rem;
}






.inputs {
    padding-bottom: 1rem;
}

.tittle-contact {
    font-family: var(--f-tittle);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 3rem;
    color: var(--c-light);
}

.tittle-contact {
    font-size: 3rem;
}
   


@media screen and (max-width: 576px) {

    .tittle-contact {
        font-size: 2rem;
        
    } 
    
}

hr {
    width: 20rem;
}


.escribenos {
    color: var(--c-light);
    font-family: var(--f-body);
    font-weight: 300;
    padding-top: 5rem;
    padding-bottom: 0.5rem;
}

.horario, .direccion {
    margin-top: 2rem;
    font-family: var(--f-tittle);
}
.direccion {
    padding-bottom: 3rem;
}

.dias p {
    font-family: var(--f-body);
    margin: 0;
}

.dias {
    margin-bottom: 2rem;
}

.sabado p {
    font-family: var(--f-body);
    margin: 0;
}

.map {
    padding: 2rem;
}


/*footer*/

.rights {
    background-color: var(--c-brand);
    height: 5rem;
}

.rights p {
    color: var(--c-light);
    padding-left: 1rem;
    font-family: var(--f-body);
    padding-left: 2rem;
    margin: 0;
    font-size: 15px;

}
