
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Poppins:wght@600&display=swap');


:root {
    --c-brand: #ff3b00;
    --c-light: #fbf7f4;
    --f-tittle: 'Poppins', sans-serif;
    --f-body: 'Montserrat', sans-serif;
    --f-menu: 'Montserrat', sans-serif;
    --transition: all .4s cubic-bezier(.165, .84, .44, 1);
    --shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);
}

body{
    background: var(--c-light);
}

/*navbar*/

.navbar-nav {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: var(--f-menu);
    font-weight: 400;
}

.tittle {
    font-family: var(--f-tittle);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 3rem;
}

.aboutus {
    text-align: justify;

}

.nav-orange{
    background: var(--c-brand);
}

.navbar .nav-link {
    color: #fbf7f4;
    letter-spacing: 2px;
    font-family: var(--f-menu);
    font-weight: 400;
    font-size: 1rem;
}

.navbar ul {
    padding-left: 2rem;
}
.navbar ul li {
    padding-left: 2rem;
    padding-right: 2rem;
}

.navbar a:hover, li:active { 
    background-color: #c43300;
}

/* main carrousel*/

.carousel-item {
   height: 40rem; 
   min-height: 300px;
}

.carousel-caption {
    bottom: 220px;
    z-index: 2;
}


.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 1.2rem;
}

.portada {
    min-height: 15rem;
}

.carousel-item {
    position: relative;
    background: #000;
    position: relative;
    
}

.carousel-caption h5, .slogan {
    font-size: 3rem;
    color: #fff;
    left: 0;
    
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.4;
}
.logo-3 img {
    width: 50px;
    height: 50px;
    padding-left: 1px;
    margin-left: 1px;
}

.nav-tittle a {
    padding-right: 0px;
    font-size: 10rem;
}

.nav-orange {
    background-color: #ff3b00;
    padding: 0;
    margin: 0;
}

.portada{
    position: relative;
    z-index: 0;
    
}

.main-logo {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 1 !important; 

    

}
.main-logo img {
    width: 25rem;
}

@media (max-width:500px) {
    .main-logo img {
        max-width: 15rem;
        max-height: 15rem;
    }
}

@media screen and (min-width: 992px) {
    .main-logo img {
        padding-right: 50px;
    }
}

/* secondary carrousel*/


.card {
    border-radius: 0;
    border-style: none;
    margin: 2rem;
}

.card:focus, .card:hover {
    -webkit-box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2);
     box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2);
     transition: all .3s ease-in-out;
}

.proyect:focus, .proyect:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.01);
    transition: all .3s ease-in-out;
}

.card-img-top {
    height: 45vh;
    width: 100%;
    object-fit: cover;
    border-radius: 0;
}

.owl-prev {
    left: -30px;
}

.owl-next {
    right: -30px;
}

.owl-prev, .owl-next {
    position: absolute;
    top:  200px;
}

.owl-prev span, .owl-next span {
    font-size: 4rem;  
    padding-left: -80px;
    padding-right: -80px;
    
}

.owl-theme, .owl-nav [class*="owl-"]:hover {
    background: transparent;
}


/*gallery*/

.gallery .container,
.gallery .img-container {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.gallery-item img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    
}

.gallery .thumb {
    position: relative;
}

.gallery-item .hover-effect .hover-content {
    position: absolute;
    text-align: left;
    width: 100%;
    bottom: 0;
    left: 0;
}

.img-container{
    overflow: hidden;
}
.img-container:hover{
    -webkit-box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2);
     box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2);
     transition: all .3s ease-in-out;
}

.gallery-item img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.05);
    transition: all .3s ease-in-out;
    
}




/*.gallery .gallery-item h1 {
    position: relative;
    font-size: 22px;
    text-decoration: uppercase;
    color: #fff;
    display: inline-block;
    padding-left: 20px;
    line-height: 15px;
    transform: translate(25px);
    transition: .5s ease-in-out;
    letter-spacing: 0.5px;
}
/*.gallery .gallery-item em {
    font-style: normal;
    font-weight: 200;
}*/
/*.gallery .gallery-item h1 {
    transform: translate(0);
}*/

/*.gallery .gallery-item p {
    padding-left: 20px;
    font-weight: 300 !important;
    letter-spacing: 0.5px;
    font-size: 14px;
    color: #fff;
    opacity: 0;
    transform: translate(10px);
    transition: .5s ease-in-out;
    text-transform: uppercase;
}*/

/*.gallery .gallery-item {
    text-align: center;
    line-height: 150%;
    text-transform: lowercase;
    cursor: pointer;
}*/

/*.gallery .gallery-item:hover p {
    opacity: 1;
    transform: translate(0);
}*/